body {
	background-color: #FFF;
    background-image: url(../images/bg3.jpg);
    background-position: center;
    background-size: cover;
    font-family: "Roboto";
}

.width-230 {
    width: 230px;
}

#footerText {
    color: #FFF;
    margin: 0;
    text-align: center;
    min-width: 100%;
}

.min-height-430 {
    min-height: 430px;
}

.min-height-100 {
    min-height: 100px;
}

.text-align-right {
    text-align: right;
}

header nav .navbar-nav {
    margin-right: auto !important;
}

.padding-30 {
    padding: 30px !important;
}

.padding-80 {
    padding: 80px !important;
}

.margin-80 {
    margin: 80px !important;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-0 {
    padding: 0 !important;
}

.padding-top-50 {
    padding-top: 50px !important;
}

.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

.background-color-white {
    background: white;
}

.margin-top-20 {
    margin-top: 20px;
}